<!DOCTYPE html>
<head>
	<title> Pint-Erest </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/8bce054b-0e3b-4c54-a796-238c36a224d1%2Fthumbnails%2Ffavicon.png?1512154371986" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link  rel="stylesheet" href="/style.css" >
	</head>

<!-- May make into two separate pages: One prior to login and one after?-->
<body>
  

	<nav>
		<span class ="spanLeft">
			<span class = "menuLinks lobster">
			Pint-Erest
		 </span>
		 <span class = "menuLinks user">
			 <%= user %>
		 </span>
	 </span>
    
		 <span class = "spanRight">
          <% if(user){ %>
       <div id = "dropdown">
         <h3 id = "menuTitle" onclick = "drop()">
           Menu
         </h3>
         <div class = "dropmenuLinks">
           
         <a> <h3 class = "dropped" onclick = "showForm()">
			+ Add Pint
           </h3></a>
       <a href = "/"> <h3 class = "dropped">
			 All
		 </h3></a>
		 <a class = "dropped" href="/myWall"><h3 class = "dropped">
			 My Wall
		 </h3></a>
            <a href = "/auth/logout"> <h3 class = "dropped">
			 Logout
		 </h3></a>
         </div>
       </div>
		
    <% } %>

<% if(!user) {%>

	<a href = "/auth/twitter"><h3>
		Twitter Login
	</h3></a>

<%} %>

	 </span>
	</nav>
	<center><br>
	<h1 class = "lobster">
		Pint-Erest
	</h1>

    <div id = "addForm">
    
    	<form method="POST" action = "/addPint">
		Name of Pint<br>
		<input name = "title"><br>
		Image URL<br>
		<input name = "image"><br>
		<input type = "submit">
        <button onclick = "hideForm()" type = "button">
          Cancel
        </button>
	</form>
          </div>
    
</center>




	<div id = "app">
	</div>

	<div class = "wall">
	<center>
		<% pints.forEach((x,i)=>{ %>
			<div class = "pint">
				
			
				<h4> <%= x.title %> </h4>
				<img class = "image" src = "<%= x.image%>" onError="this.onerror=null;this.src='http://www.clker.com/cliparts/J/h/C/1/o/C/broken-file-icon-md.png';">
		
			</div>
	
		<% }) %>
	</center>
	</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src = "/logic.js"></script>
</body>