<!DOCTYPE html>
<head>
	<title> Pint-Erest </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/30fa63ee-79f7-42c9-992a-f7f5bdcabbf4%2Fthumbnails%2Ficon.png?1511284247590" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link  rel="stylesheet" href="/style.css" >
	</head>

<!-- May make into two separate pages: One prior to login and one after?-->

	<nav>
		<span>
			Pint-Erest
		 </span>
		 <span>
			 <%= user %>
		 </span>
		 <span>
			+ Add Pint
		 </span>
		 <span>
			 My Wall
		 </span>
		 <span>
			 Find Wall
		 </span>
		 <a href = "/auth/logout"<span>
			 Logout
		 </span></a>
	</nav>
	<h1>
		Pint-Erest
	</h1>

	<a href = "/auth/twitter"<button>
		Twitter Login
	</button></a>

	<form method="POST" action = "/addPint">
		Name of Pint<br>
		<input name = "title"><br>
		Image<br>
		<input name = "image"><br>
		<input type = "submit">
	</form>
	<div id = "app">
	</div>

	<div class = "wall">

		<% pints.forEach((x,i)=>{ %>
			<div class = "pint">
				<center>
				<h4> <%= x.title %> </h4>
				<img class = "image" src = "<%= x.image%>">
			</center>
			</div>
		<% }) %>

	</div>
