<!DOCTYPE html>
<head>
	<title> Pint-Erest </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/30fa63ee-79f7-42c9-992a-f7f5bdcabbf4%2Fthumbnails%2Ficon.png?1511284247590" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link  rel="stylesheet" href="/style.css" >
	</head>

<!-- May make into two separate pages: One prior to login and one after?-->

	<nav>
		<span class ="spanLeft">
			<span class = "menuLinks lobster">
			Pint-Erest
		 </span>
		 <span class = "menuLinks">
			 <%= user %>
		 </span>
	 </span>
		 <span class = "spanRight">
			 <span  class = "menuLinks">
			+ Add Pint
		 </span>
		 <a href="/myWall"><span class = "menuLinks">
			 My Wall
		 </span></a>
		 <span class = "menuLinks">
			 Find Wall
		 </span>
		 <a href = "/auth/logout"<span class = "menuLinks">
			 Logout
		 </span></a>
	 </span>
	</nav>
	<center>
	<h1 class = "lobster">
		Pint-Erest
	</h1>

	<a href = "/auth/twitter"<button>
		Twitter Login
	</button></a>
</center>
	<form method="POST" action = "/addPint">
		Name of Pint<br>
		<input name = "title"><br>
		Image<br>
		<input name = "image"><br>
		<input type = "submit">
	</form>


	<div id = "app">
	</div>

	<div class = "wall">

		<% pints.forEach((x,i)=>{ %>
			<form method = "POST" action = "/delete">
				<input type = "hidden" name = "deleter" value = "<%= x.image %>">
			<div class = "pint">
				<button type = "submit"> <h4 style = "float:right"> X </h4></button>
				<center>
				<h4> <%= x.title %> </h4>
				<img class = "image" src = "<%= x.image%>" onError="this.onerror=null;this.src='http://www.clker.com/cliparts/J/h/C/1/o/C/broken-file-icon-md.png';">
			</center>
			</div>
		</form>
		<% }) %>

	</div>
