
body{
  background-color: #f7f2dc;
}
nav{
  background-color: #ffd48c;
  height: 50px;
}
.lobster{
  font-family: 'Lobster', cursive;
}
.pint{
  display: inline-block;
  max-width: 750px;
  max-height: 500px;
  border: 5px solid black;
}
.image{
  padding: 50px;
  max-width: 400px;
  max-height: 400px;
}
.spanLeft{
  float: left;
}
.spanRight{
  float: right;
}
.menuLinks{
  padding: 10px;
}
